.FP{
    width: calc(100vw - 60px);
    background-color: rgb(255, 255, 255);
}
h1{
    margin: 0;
    padding: 0;
}
.main{
    min-height: 120vh;
    .status-bar{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: rgb(82, 82, 82);
        height: 30px;
        h1{
            font-size: 1.2em;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .time{
            position: absolute;
            right: 5%;
        }
        .status{
            position: absolute;
            left: 5%;
        }
    }
    .fr{
        background: rgb(212, 212, 212);
        width: 100%;
        height: 300px;
    }
    .mini{
        div{
            width: 50%;
            height: 400px;
            flex-direction: column;
            font-size: 0.8em;
            text-align: center;
            position: relative;
            .data{
                width: 100%;
                height: 0;
                position: absolute;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    width: 100px;
                    display: flex;
                }
            }
            .crop{
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                z-index: 2;
                right: 0;
                background-color: black;
                color: white;
            }
            &:hover{
                .crop{
                    width: 0;
                    background-size: 100px;
                    h1{
                        display: none;
                    }
                }
            }
        }
        .on{
            background-color: rgb(189, 189, 189);
        }
        .tw{
            background-color: rgb(49, 49, 49);
            .crop{
                left: 0;
            }
            .data{
                h1{
                    color: white;
                }
                a{
                    background-color: white;
                    color: black;
                }
            }
        }
        h1{
            font-size: 1.3em;
            padding: 5%;
        }
        a{
            background-color: white;
            text-decoration: none;
            background-color: black;
            color: white;
            padding: 1% 5%;
            margin-top: 2px;
            margin-top: 2%;
        }
    }
    .fro{
        background-color: aqua;
        height: 50vh;
        font-size: 1em;
        text-align: center;
        position: relative;
        &:hover{
            .crop{
                height: 0;
                h1{
                    display: none;
                }
            }
        }
        .crop{
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            z-index: 2;
            top: 0;
            background-color: rgb(143, 143, 143);
            color: white;
            
        }
        .data{
            background-color: rgb(204, 204, 204);
            width: 100%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            img{
                height: 50%;
            }
        }
        .flex{
            flex-direction: column;
        }
        h1{
            font-size: 1.2em;
            padding: 5%;
        }
        a{
            background-color: white;
            text-decoration: none;
            background-color: black;
            color: white;
            padding: 1% 5%;
            margin-top: 2px;
            margin-top: 2%;
        }
    }
}