.up{
    position: relative;
    overflow-y: hidden;
    .toup{
        margin-top: 10px;
        padding: 2px 30%;
        text-decoration: none;
        text-align: center;
    }
    .check{
        position: relative;
        height: 100vh;
        flex-direction: column;
        margin-top: -50vh;
        h1{
            margin-top: 80vh;
            z-index: 4;
        }
        .sqare{
            top:100vh;
            left: calc(-45vw + 100px);
            position: absolute;
        }
        .one{
            translate: 20vw 0vh;
        }
        .two{
            background-color: red;
            transform: rotate(-150deg);
            translate: -70vw 10vh;
        }
    }
    .cont{
        width: 100%;
        height: 100vh;
        background-color: rgb(36, 36, 36,0.9);
        margin-top: 50vh;
        position: relative;
        z-index: 1;
        flex-direction: column;
        h1{
            color: white;
        }
        input{
            margin-top: 20px;
            width: 60%;
            outline: none;
            padding: 10px 5%;
            text-align: center;
        }
        button{
            width: 50%;
            background-color: rgb(255, 255, 255);
            height: 30px;
            cursor: pointer;
            box-shadow: 0 0 3px white;
            border: none;
            margin-top: 20px;
        }
    }
}
#awnser{
    background-color: green;
    color: white;
}
.check-update{
    height: 50px;
    background-color: black;
    padding:10px 20%;
    color: white;
    cursor: pointer;
}