.stat{
    background-color: rgb(238, 96, 162);
    height: 120vh;
    width: 100%;
    display: flex;
    .roro{
        background-color: rgb(212, 212, 212);
        width: 50%;
        height: 400px;
        padding: 20px;
    }
    .roro2{
        background-color: rgb(245, 245, 245);
        width: 50%;
        height: 400px;
        padding: 20px;
    }
}